.expense{
    position: relative;
}
.expense h1{
    color: aliceblue;
    font-family:sans-serif;
    font-weight: bold;
    margin-top: 130px;
    margin-left: 180px;
    font-size: 50px;
    width: 500px;
}

.expense p{
    color: rgb(144, 136, 136);
    font-size: 1.4rem;
    line-height: 1.4;
    width: 500px;
    margin-top: 40px;
    margin-left: 180px; 
}
.expense button{
    position: absolute;
    left: 1050px;
    padding: 10px;
    top: 200px;
    background-color: rgb(9, 9, 88);
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    width: 150px;
    height: 50px; 
    border: 3px solid #898eab;
    box-shadow: 0 10px 30px rgb(108, 108, 209);
    transition: all 0.8s ease-in-out;
    letter-spacing: 3px;
    animation: rotate;
}
.expense button:hover{
    background-color: #fff;
    color: rgb(9, 9, 88);
    font-size: 1.2rem;
    transform: scale(1.1);
}
